main{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}

.sedans {
	background-color:hsl(31, 77%, 52%);
	border-top-left-radius: 1%;
	border-bottom-left-radius: 1%;
}

.suvs {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 1%;
	border-bottom-right-radius: 1%;
}

h3,
p {
	color: hsl(0, 0%, 95%);
}

.sedans p{
	width:220px;
}

.suvs p{
	width:225px;

	
}
.luxury p{
 width:225px;

}

p {
	
	font-family: 'Lexend Deca', sans-serif;
	padding-bottom: 50px;
}

h3 {
	font-family: 'Big Shoulders Display', cursive;
	text-transform: uppercase;
	font-size: 30px;
}

button {
	background-color: hsl(0, 0%, 95%);
	border-color:white;
	border-radius: 50px 50px 50px 50px;
	padding-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 7px;
	font-size: 12px;
}

.sedansButton {
	color: hsl(31, 77%, 52%);
}

.suvsButton {
	color: hsl(184, 100%, 22%);
}

.luxuryButton {
	color: hsl(179, 100%, 13%);
}

.sedansButton:hover,
.suvsButton:hover,
.luxuryButton:hover {
	color: hsl(0, 0%, 95%);
}

.sedansButton:hover {
	background-color: hsl(31, 77%, 52%);
	border-color: white;
}

.suvsButton:hover {
	background-color: hsl(184, 100%, 22%);
	border-color: white;
}

.luxuryButton:hover {
	background-color: hsl(179, 100%, 13%);
	border-color: white;
}

.sedans,
.suvs,
.luxury {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 35px;
}



img {
	width: 45px;
}


.attribution{
padding-top:25px;

}

@media screen and (max-width: 320px) {

	main {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.sedans {
		border-top-left-radius: 1%;
		border-top-right-radius: 1%;
		border-bottom-left-radius: 0;
	}

	.luxury {
		border-bottom-right-radius: 1%;
		border-bottom-left-radius: 1%;
		border-top-right-radius: 0;
	}

	
	.attribution{
	
		padding-top: 100px;
		
	
		
	}
	
}

